.nav-link{
    color: #BFBFBF;
    margin-left: .75rem;
    margin-right: .75rem;
}
.dropdown-toggle::after{
    content: url(../img/Vector.png);
    border: 0px;
    vertical-align: 0px;
}

.header{
    height: 100vh;
    background-image: url(../img/Header.png);
    background-size: cover;
}

.text-costum-1{
    color: #BFBFBF;
}

.profil{
    right: 2%;
    left: auto !important;
}
.dropdown-head{
    background-color: #111315;
}
.drop-1{
    background-color: #1A1C1E;
    padding-top: 0%;
}

.img-kitab{
    object-fit: contain;
    margin-right: 1rem;
}